.App {
    /*  text-align: center;*/
    background-color: #ffffff;
    color: #222222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35px;
  margin-left: 10px;
}

.App-header {
  background-color: #ffffff;
  padding: 1px;
  color: #222222;
}

.App-title {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-logo {
    width: auto;
    height: 2rem;
}

.navbar-white {
    background-color: #f1f1f1 !important;
}
